In [1]:
import os

os.environ["TOKENIZERS_PARALLELISM"] = "false"
os.environ["MLFLOW_TRACKING_URI"] = "http://localhost:5000"

## Load Dataset from HuggingFace Hub

We will use the b-mc2/sql-create-context dataset from the Hugging Face Hub for this tutorial. This dataset comprises 78.6k pairs of natural language queries and their corresponding SQL statements, making it ideal for training a text-to-SQL model. The dataset includes three columns:

- `question`: A natural language question posed regarding the data.
- `context`: Additional information about the data, such as the schema for the table being queried.
- `answer`: The SQL query that represents the expected output.

In [2]:
import pandas as pd
from datasets import load_dataset
from IPython.display import HTML, display

dataset_name = "b-mc2/sql-create-context"
dataset = load_dataset(dataset_name, split="train[:10%]")


def display_table(dataset_or_sample):
    # A helper fuction to display a Transformer dataset or single sample contains multi-line string nicely
    pd.set_option("display.max_colwidth", None)
    pd.set_option("display.width", None)
    pd.set_option("display.max_rows", None)

    if isinstance(dataset_or_sample, dict):
        df = pd.DataFrame(dataset_or_sample, index=[0])
    else:
        df = pd.DataFrame(dataset_or_sample)

    html = df.to_html().replace("\n", "")
    styled_html = (
        f"""<style> .dataframe th, .dataframe tbody td {{ text-align: left; padding-right: 30px; }} </style> {html}"""
    )
    display(HTML(styled_html))


display_table(dataset.select(range(5)))

## Split Train and Test Dataset

The `b-mc2/sql-create-context` dataset consists of a single split, "train". We will separate 20% of this as test samples.

In [3]:
split_dataset = dataset.train_test_split(test_size=0.2, seed=42)
train_dataset = split_dataset["train"]
test_dataset = split_dataset["test"]

print(f"Training dataset contains {len(train_dataset)} text-to-SQL pairs")
print(f"Test dataset contains {len(test_dataset)} text-to-SQL pairs")

print(train_dataset[0])

Training dataset contains 6286 text-to-SQL pairs
Test dataset contains 1572 text-to-SQL pairs
{'answer': 'SELECT COUNT(round) FROM table_1137694_3 WHERE winning_driver = "Damon Hill"', 'question': 'How many total rounds did Damon Hill come in First Place?', 'context': 'CREATE TABLE table_1137694_3 (round VARCHAR, winning_driver VARCHAR)'}

## Define Prompt Template

The Mistral 7B model is a text comprehension model, so we have to construct a text prompt that incorporates the user's question, context, and our system instructions. The new prompt column in the dataset will contain the text prompt to be fed into the model during training. It is important to note that we also include the expected response within the prompt, allowing the model to be trained in a self-supervised manner.

In [4]:
PROMPT_TEMPLATE = """You are a powerful text-to-SQL model. Given the SQL tables and natural language question, your job is to write SQL query that answers the question.

### Table:
{context}

### Question:
{question}

### Response:
{output}"""


def apply_prompt_template(row):
    prompt = PROMPT_TEMPLATE.format(
        question=row["question"],
        context=row["context"],
        output=row["answer"],
    )
    return {"prompt": prompt}


train_dataset = train_dataset.map(apply_prompt_template)
display_table(train_dataset.select(range(1)))

## Load models and tokenizer with LoraManager

In [5]:
from qurious.config import Config
from qurious.llms.lora_manager import LoraManager

config = Config(model={"base_model": "mistralai/Mistral-7B-v0.1"}, training={"learning_rate": 2e-5})
lora_manager = LoraManager(config)

# Get the PEFT model
peft_model = lora_manager.get_model("default")
tokenizer = lora_manager.tokenizer

# Make sure the model is in training mode and parameters require gradients
peft_model.train()

# Verify parameters require gradients
trainable_params = 0
all_param = 0
for param in peft_model.parameters():
    all_param += param.numel()
    if param.requires_grad:
        trainable_params += param.numel()

print(
    f"trainable params: {trainable_params} || all params: {all_param} || trainable%: {100 * trainable_params / all_param:.2f}%"
)

using device: mps
Loading base model: mistralai/Mistral-7B-v0.1

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Creating adapter: default
trainable params: 20971520 || all params: 7262703616 || trainable%: 0.29%

## Padding the Training Dataset

As a final step of dataset preparation, we need to apply padding to the training dataset. Padding ensures that all input sequences in a batch are of the same length.

A crucial point to note is the need to add padding to the left. This approach is adopted because the model generates tokens autoregressively, meaning it continues from the last token. Adding padding to the right would cause the model to generate new tokens from these padding tokens, resulting in the output sequence including padding tokens in the middle.

Padding to right
```
Today |  is  |   a    |  cold  |  <pad>  ==generate=>  "Today is a cold <pad> day"
 How  |  to  | become |  <pad> |  <pad>  ==generate=>  "How to become a <pad> <pad> great engineer".
```

Padding to left:
```
<pad> |  Today  |  is  |  a   |  cold     ==generate=>  "<pad> Today is a cold day"
<pad> |  <pad>  |  How |  to  |  become   ==generate=>  "<pad> <pad> How to become a great engineer".
```

In [6]:
# You can use a different max length if your custom dataset has shorter/longer input sequences.
MAX_LENGTH = 256


def tokenize_and_pad_to_fixed_length(sample):
    result = tokenizer(
        sample["prompt"],
        truncation=True,
        max_length=MAX_LENGTH,
        padding="max_length",
    )
    result["labels"] = result["input_ids"].copy()
    return result


tokenized_train_dataset = train_dataset.map(tokenize_and_pad_to_fixed_length)

assert all(len(x["input_ids"]) == MAX_LENGTH for x in tokenized_train_dataset)

display_table(tokenized_train_dataset.select(range(1)))

## Kick-off a Training Job

Similar to conventional Transformers training, we'll first set up a Trainer object to organize the training iterations. There are numerous hyperparameters to configure, but MLflow will manage them on your behalf.

To enable MLflow logging, you can specify report_to="mlflow" and name your training trial with the run_name parameter. This action initiates an MLflow run that automatically logs training metrics, hyperparameters, configurations, and the trained model.

In [ ]:
from datetime import datetime

import mlflow
import transformers
from transformers import TrainingArguments

# Set up mlflow
mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("MLFlow PEFT Tutorial")
mlflow.enable_system_metrics_logging()

training_args = TrainingArguments(
    # Set this to mlflow for logging your training
    report_to="mlflow",
    # Name the MLflow run
    run_name=f"Mistral-7B-{datetime.now().strftime('%Y-%m-%d-%H-%M-%s')}",
    output_dir=config.paths.output_dir,
    per_device_train_batch_size=config.training.batch_size,
    gradient_accumulation_steps=4,
    gradient_checkpointing=False,
    optim="adamw_torch",
    bf16=False,
    learning_rate=config.training.learning_rate,
    lr_scheduler_type="constant",
    max_steps=500,
    save_steps=100,
    logging_steps=1,
    warmup_steps=5,
    # https://discuss.huggingface.co/t/training-llama-with-lora-on-multiple-gpus-may-exist-bug/47005/3
    # ddp_find_unused_parameters=False,
)

# Define a data collator with padding
collator = transformers.DataCollatorForLanguageModeling(tokenizer, mlm=False)

# Make sure gradient checkpointing is properly configured
# peft_model.config.use_cache = False

# Create the trainer
trainer = transformers.Trainer(
    model=peft_model,
    train_dataset=tokenized_train_dataset,
    data_collator=collator,
    args=training_args,
)

No label_names provided for model class `PeftModelForCausalLM`. Since `PeftModel` hides base models input arguments, if label_names is not given, label_names can't be set automatically within `Trainer`. Note that empty label_names list will be used instead.

In [ ]:
# Start training
mlflow.start_run()
try:
    trainer.train()
except KeyboardInterrupt:
    print("Training interrupted.")
except Exception as e:
    print(f"An error occurred: {e}")
    mlflow.log_param("error", str(e))
    raise
finally:
    mlflow.end_run()

Training interrupted.
üèÉ View run zealous-cub-681 at: http://127.0.0.1:5000/#/experiments/822492364085860757/runs/0fe8c55a9ae944898efae432c7aa72ed
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/822492364085860757

## Save the PEFT Model to MLflow

Hooray! We have successfully fine-tuned the Mistral 7B model into an SQL generator. Before concluding the training, one final step is to save the trained PEFT model to MLflow.

Set Prompt Template and Default Inference Parameters (optional)

LLMs prediction behavior is not only defined by the model weights, but also largely controlled by the prompt and inference paramters such as max_token_length, repetition_penalty. Therefore, it is highly advisable to save those metadata along with the model, so that you can expect the consistent behavior when loading the model later.

Prompt Template

The user prompt itself is free text, but you can harness the input by applying a 'template'. MLflow Transformer flavor supports saving a prompt template with the model, and apply it automatically before the prediction. This also allows you to hide the system prompt from model clients. To save the prompt template, we have to define a single string that contains {prompt} variable, and pass it to the prompt_template argument of mlflow.transformers.log_model API. Refer to Saving Prompt Templates with Transformer Pipelines for more detailed usage of this feature.

In [ ]:
from mlflow.models import infer_signature

# Basically the same format as we applied to the dataset. However, the template only accepts {prompt}
# variable so both table and question need to be fed in there.
prompt_template = """You are a powerful text-to-SQL model. Given the SQL tables and natural language question, your job is to write SQL query that answers the question.

{prompt}

### Response:
"""

sample = train_dataset[1]

# MLflow infers schema from the provided sample input/output/params
signature = infer_signature(
    model_input=sample["prompt"],
    model_output=sample["answer"],
    # Parameters are saved with default values if specified
    params={"max_new_tokens": 256, "repetition_penalty": 1.15, "return_full_text": False},
)
signature

inputs:
  [string (required)]
outputs:
  [string (required)]
params:
  ['max_new_tokens': long (default: 256), 'repetition_penalty': double (default: 1.15), 'return_full_text': boolean (default: False)]

In [ ]:
# Save model to mlflow

import mlflow
from transformers import AutoTokenizer

# Get the ID of the MLflow Run that was automatically created above
last_run_id = mlflow.last_active_run().info.run_id

# Save a tokenizer without padding because it is only needed for training
tokenizer_no_pad = AutoTokenizer.from_pretrained(config.model.base_model, add_bos_token=True)

# If you interrupt the training, uncomment the following line to stop the MLflow run
# mlflow.end_run()

with mlflow.start_run(run_id=last_run_id):
    mlflow.log_params(
        config.model_dump(),
    )
    mlflow.transformers.log_model(
        transformers_model={"model": trainer.model, "tokenizer": tokenizer_no_pad},
        prompt_template=prompt_template,
        signature=signature,
        artifact_path="model",  # This is a relative path to save model files within MLflow run
        pip_requirements=[],
    )

Device set to use mps:0
2025/03/10 13:48:49 INFO mlflow.transformers: Overriding save_pretrained to False for PEFT models, following the Transformers behavior. The PEFT adaptor and config will be saved, but the base model weights will not and reference to the HuggingFace Hub repository will be logged instead.
2025/03/10 13:48:50 INFO mlflow.transformers: Skipping saving pretrained model weights to disk as the save_pretrained argumentis set to False. The reference to the HuggingFace Hub repository mistralai/Mistral-7B-v0.1 will be logged instead.
2025/03/10 13:48:50 INFO mlflow.transformers: text-generation pipelines saved with prompt templates have the `return_full_text` pipeline kwarg set to False by default. To override this behavior, provide a `model_config` dict with `return_full_text` set to `True` when saving the model.

üèÉ View run zealous-cub-681 at: http://127.0.0.1:5000/#/experiments/822492364085860757/runs/0fe8c55a9ae944898efae432c7aa72ed
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/822492364085860757

# Load the Saved PEFT Model from MLflow

Finally, let's load the model logged in MLflow and evaluate its performance as a text-to-SQL generator. There are two ways to load a Transformer model in MLflow:

Use mlflow.transformers.load_model(). This method returns a native Transformers pipeline instance.
Use mlflow.pyfunc.load_model(). This method returns an MLflow's PythonModel instance that wraps the Transformers pipeline, offering additional features over the native pipeline, such as (1) a unified predict() API for inference, (2) model signature enforcement, and (3) automatically applying a prompt template and default parameters if saved. Please note that not all the Transformer pipelines are supported for pyfunc loading, refer to the MLflow documentation for the full list of supported pipeline types.

The first option is preferable if you wish to use the model via the native Transformers interface. The second option offers a simplified and unified interface across different model types and is particularly useful for model testing before production deployment. In the following code, we will use the mlflow.pyfunc.load_model() to show how it applies the prompt template and the default inference parameters defined above.

NOTE: Invoking load_model() loads a new model instance onto your GPU, which may exceed GPU memory limits and trigger an Out Of Memory (OOM) error, or cause the Transformers library to attempt to offload parts of the model to other devices or disk. This offloading can lead to issues, such as a "ValueError: We need an offload_dir to dispatch this model according to this decide_map." If you encounter this error, consider restarting the Python Kernel and loading the model again.

CAUTION: Restarting the Python Kernel will erase all intermediate states and variables from the above cells. Ensure that the trained PEFT model is properly logged in MLflow before restarting.

In [19]:
# You can find the ID of run in the Run detail page on MLflow UI
mlflow_model = mlflow.pyfunc.load_model(f"runs:/{last_run_id}/model")

# We only input table and question, since system prompt is added in the prompt template.
test_prompt = """
### Table:
CREATE TABLE table_name_50 (venue VARCHAR, away_team VARCHAR)

### Question:
When Essendon played away; where did they play?
"""

# Inference parameters like max_tokens_length are set to default values specified in the Model Signature
generated_query = mlflow_model.predict(test_prompt)[0]
display_table({"prompt": test_prompt, "generated_query": generated_query})

Downloading artifacts:   0%|          | 0/10 [00:00<?, ?it/s]

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Device set to use mps:0
2025/03/10 13:56:22 WARNING mlflow.transformers: params provided to the `predict` method will override the inference configuration saved with the model. If the params provided are not valid for the pipeline, MlflowException will be raised.
Setting `pad_token_id` to `eos_token_id`:2 for open-end generation.